body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8e1;
}

header {
    background-color: #ff9800;
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #ff9800;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Stil pentru meniu */
.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.produs {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 250px;
}

.produs img {
    width: 100%;
    border-radius: 10px;
}

.produs:hover {
    transform: scale(1.05);
}

.pret {
    font-size: 18px;
    font-weight: bold;
    color: #ff5722;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff9800;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e68900;
}
